Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
Select * from worker where month(joining_date) = 2 and year(joining_date)=2014

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

In [ ]:
select emp_salary, count(emp_salary) from emp group by emp_salary having count(emp_salary)>1

Q-3. How to remove duplicate rows from Employees table.

In [ ]:

Delete from Employees where EmployeeID NOT IN 
(  select min(EmployeeID)   FROM Employees   GROUP BY Name, Email);