Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
Select c1 from table1 intersect select c1 from table2

Q-16. Write an SQL query to show records from one table that another table does not
have.

In [ ]:
Select name from table1 where name not in(select name from table2)