
CREATE TABLE emp (
  emp_name VARCHAR(50),
  emp_salary int
);
INSERT INTO emp (emp_name, emp_salary) VALUES
('Shubham Thakur', 50000),
('Aman Chopra', 60000),
('Naveen Tulasi', 75000),
('Bhavika uppala', 45000),
('Nishant jain', 80000);


Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

In [ ]:
select replace(FIRST_NAME, ’a’, ’A’) from emp

Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

In [ ]:
Select * from Worker order by FIRST_NAME asc, DEPARTMENT desc

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [ ]:

select * from workers order by salary desc limit 1