Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

In [ ]:
select * from
(select emp_name, emp_salary, dense_rank() 
over(order by emp_salary desc)high from emp)r where high=4

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
SELECT * FROM emp WHERE emp_salary IN (SELECT emp_salary  FROM emp
    GROUP BY emp_salary