Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

In [ ]:
Select substring(FIRST_NAME,1,3) AS FIRST3LETTER from worker

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

In [ ]:
Select position(‘a’ in Amitabh) as positioncol

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

In [ ]:

Select e.empname, e.depid from employees e where e.salary in (select max(salary from employees group by depid)